---
import { getBreadcrumb, getPages } from '../../../utils/storyblok';
import Layout from '../../../layouts/Layout.astro';
import Card from '../../../storyblok/content/Card.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';

const pages = await getPages('funktionen/kundenverwaltung/*', 'name:asc');
const breadcrumbs = await getBreadcrumb({ full_slug: 'funktionen/kundenverwaltung', name: 'Kundenverwaltung' });
---
<Layout title="Buchhaltung"
        description="Alle Funktionen der Kundenverwaltung auf einen Blick."
        canonical={new URL('/funktionen/kundenverwaltung', Astro.site)}
        breadcrumbs={breadcrumbs}
>
  <section class="relative py-12 lg:pb-16 pt-[120px]">
    <div class="container max-w-screen-xl mx-auto">
      <h3 class="max-w-2xl mx-auto text-center text-4xl text-dark dark:text-primary-400 font-semibold pb-12">
        Alle Funktionen der Kundenverwaltung auf einen Blick.
      </h3>
      <div class="container">
        <Breadcrumbs breadcrumbs={breadcrumbs}/>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-screen-xl mx-auto">
          {pages.map(page => (
            <Card blok={
              {
                title: String(page?.props?.title || ''),
                body: String(page?.props?.description || ''),
                link: '/' + page.params.slug,
                image: {filename: String(page?.props?.image || '')}
              }
            } />
          ))}
        </div>
      </div>
    </div>
  </section>
</Layout>
