---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import SmartImage from '../../components/SmartImage.astro';

interface SbImage extends SbBlokData {
  filename: string;
}

interface LeftImageSection extends SbBlokData {
  content?: SbBlokData[]
  image?: SbImage,
  classes?: string,
}

interface Props {
  blok: LeftImageSection;
}

const { blok } = Astro.props;
---
<section class=`${blok.classes}`>
  <div class=`container py-0 max-w-screen-xl mx-auto` {...storyblokEditable(blok)}>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
      {blok?.image && blok.image?.filename && blok.image.filename !== '' &&
        <SmartImage src={blok.image.filename}
                    alt="orbnet"
                    widths={[500, 330]}
                    sizes="(max-width: 1024px) 330px, 500px"
                    pictureAttributes={{ class: 'w-full flex h-[330px] lg:h-[500px]' }}
                    class="object-contain mx-auto"
        />
      }
      <div class="w-full">
        {blok.content?.map((blok: SbBlokData) => (
          <StoryblokComponent blok={blok} />
        ))}
      </div>
    </div>
  </div>
</section>
