---
import {Icon} from 'astro-icon/components';
---
<!-- ====== Back To Top Start -->
<a
  href="#top"
  aria-label="go back to top"
  class="back-to-top fixed flex bottom-8 right-8 left-auto z-[999] opacity-0 h-10 w-10 items-center justify-center rounded-md bg-primary text-white shadow-md transition duration-300 ease-in-out hover:bg-dark"
>
  <Icon name="bi:arrow-up-square"/>
</a>
<!-- ====== Back To Top End -->
