---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<div class="relative">
  <button type="button" class="menu submenu flex items-center gap-x-1 font-semibold" aria-expanded="false">
    {title}
    <svg class="h-5 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
    </svg>
  </button>
  <div class="hidden absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white dark:bg-dark-2 shadow-lg ring-1 ring-gray-900/5">
    <slot name="submenu-items" />
    <slot name="bottom-items" />
  </div>
</div>
