---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';

interface Url extends SbBlokData {
  url: string,
  cached_url: string,
}

interface Button extends SbBlokData {
  text: string,
  href: Url,
  classes?: string,
}

interface Props {
  blok: Button;
}

const { blok } = Astro.props;

let useUrl = String(blok.href.cached_url);
if (!useUrl.startsWith('/') && !useUrl.includes('http')) {
  useUrl = `/${useUrl}`;
}

if (
  !useUrl.endsWith('/') &&
  !useUrl.includes('http') &&
  useUrl.slice(-4).at(0) !== '.' &&
  useUrl.slice(-3).at(0) !== '.'
) {
  useUrl = `${useUrl}/`;
}
---
<a href={useUrl}
   class=`py-3 px-7 rounded-md inline-block transition duration-500 ${(blok?.classes?.includes('bg-success') ? 'bg-success-700 text-white hover:bg-success-900' : 'bg-primary text-white hover:bg-secondary dark:bg-primary-400') || ''}` {...storyblokEditable(blok)}
>
  {blok.text}
</a>
