---
import { type SbBlokData } from '@storyblok/astro';

interface Text extends SbBlokData {
  text: string
}

interface Props {
  blok: Text;
}

const { blok } = Astro.props;
---
<span class="text-dark dark:text-white">{blok.text}</span>
