---
import Layout from '../layouts/Layout.astro';
---
<Layout
  description="Fehler 404 - Seite wurde nicht gefunden"
  title="Fehler 404 - Seite wurde nicht gefunden"
>
  <section class="bg-white dark:bg-dark pt-32 xl:pt-48 xl:pb-20">
    <div class="container max-w-screen-xl text-center">
      <h3 class="mb-5 text-2xl font-semibold text-dark dark:text-white">
        Wir können die Seite, die Sie suchen, nicht finden.
      </h3>
      <p class="mb-8 text-base text-body-color dark:text-dark-6">
        Ups! Die Seite, die Sie suchen, existiert nicht. Sie wurde möglicherweise verschoben oder gelöscht worden.
      </p>
      <a href="/"
         class="px-7 inline-block py-3 text-base font-medium transition bg-dark rounded-md text-white hover:bg-primary">
        Zur Startseite
      </a>
    </div>
  </section>
</Layout>
