---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---
<Layout
  title="Cookie Richtlinie"
  description="Auf dieser Seite finden Sie die Cookie Richtlinie von orbnet.de, dem All in one Tool für Coaches, Berater und Trainer"
  canonical={new URL('/cookie-richtlinie/', Astro.site)}
>
  <Section>
    <div class="container max-w-screen-xl pt-24 lg:pt-32 pb-12 text-dark dark:text-white">
      <h1 class="text-4xl font-semibold mb-8">Cookie Richtlinie</h1>
      <h2 class="text-3xl font-semibold mb-8">Auf dieser Seite finden Sie die Cookie Richtlinie von orbnet.de</h2>
      <h3 class="text-xl font-semibold mb-8">Mehr über Cookies</h3>
      <p class="text-justify mb-4">orbnet möchte Ihr Online-Erlebnis und Ihre Interaktion mit unserer Webseite so
        informativ, relevant und
        benutzerfreundlich wie möglich gestalten. Daher verwenden wir Cookies oder ähnliche Methoden. Es ist uns
        wichtig, dass Sie wissen, welche Cookies auf unserer Webseite verwendet werden und zu welchem Zweck. Dies trägt
        zum Schutz Ihrer Daten bei und sorgt für höchstmögliche Benutzerfreundlichkeit unserer Webseite.</p>
      <h4 class="text-lg font-semibold mb-4">Was sind Cookies?</h4>
      <p class="text-justify mb-4">Cookies sind kleine Textdateien, die auf Ihren Endgeräten (Computer oder mobilem
        Gerät) gespeichert werden,
        wenn Sie bestimmte Webseiten besuchen. Wir bei orbnet verwenden unter Umständen ähnliche Methoden, wie Pixel,
        Web-Beacons, Fingerabdruck des Geräts usw. Aus Gründen der Konsistenz werden alle diese Methoden zusammen als
        "Cookies" bezeichnet.</p>
      <h4 class="text-lg font-semibold mb-4">Warum werden Cookies verwendet?</h4>
      <p class="text-justify mb-4">Es gibt verschiedene Gründe für den Einsatz von Cookies. Zunächst sind Cookies
        möglicherweise erforderlich,
        damit die Webseite ordnungsgemäß funktioniert. Ohne Cookies kann sich eine Webseite beispielsweise nicht merken,
        dass Sie angemeldet sind oder welche Produkte Sie in Ihren Warenkorb gelegt haben. Es handelt sich um sogenannte
        erforderliche Cookies.</p>
      <p class="text-justify mb-4">Cookies können auch zur Analyse der Webseiten-Nutzung verwendet werden, um die Anzahl
        der Besucher zu ermitteln
        und zu erfahren, wie die Webseite verbessert werden kann. Wir stellen keine Verbindung zwischen den Statistiken
        zur Webseiten-Nutzung und anderen Berichten mit Einzelpersonen her. Bei diesen Cookies handelt es sich um
        Analyse-Cookies.</p>
      <p class="text-justify mb-4">Eine dritte und wichtige Einsatzmöglichkeit von Cookies liegt im Bereich der
        Online-Werbung. Diese kann
        personalisiert werden, damit Sie sowohl auf der Webseite von orbnet als auch auf externen Webseiten relevante
        und interessante Werbeanzeigen erhalten. Dies wird mit (gezielten) Werbe-Cookies erreicht.</p>
      <h4 class="text-lg font-semibold mb-4">Wie kann ich Cookies und den Schutz meiner Daten auf orbnet.de
        anpassen?</h4>
      <p class="text-justify mb-4">Auf unserer Webseite haben Sie die Möglichkeit, Ihre Cookie-Einstellungen anzupassen.
        Durch Klicken
        auf eine Kategorie können Sie auswählen, welche Arten von Cookies Sie auf unserer Webseite aktivieren möchten.
        Sie können Ihre Einstellungen jederzeit ändern. Des Weiteren finden Sie unter "Cookie-Einstellungen" eine Liste
        mit allen Cookies aus jeder Kategorie (erforderliche Cookies, Analyse-Cookies, gezielte Werbe-Cookies).</p>
      <p class="text-justify mb-4">Bitte beachten Sie, dass über die Cookie-Einstellungen auf unserer Webseite keine
        bereits
        eingestellten Cookies gelöscht werden. Sie können dies über die Einstellungen Ihres Internetbrowsers, wie unten
        beschrieben, vornehmen, nachdem Sie die Cookie-Einstellungen auf unserer Webseite angepasst haben.</p>
      <h4 class="text-lg font-semibold mb-4">So verwalten oder deaktivieren Sie Cookies in Ihrem Browser</h4>
      <p class="text-justify mb-4">Bitte beachten Sie, dass orbnet derzeit keine technische Lösung verwendet, die es uns
        erlaubt, auf die
        "Do-Not-Track"-Signale Ihres Browsers zu reagieren. Außer über die Cookie-Einstellungen auf unserer
        Webseite können Sie Ihre Cookie-Einstellungen auch jederzeit über Ihre Browsereinstellungen verwalten.
        Bitte beachten Sie, dass Ihre Browsereinstellungen möglicherweise nicht dieselbe Bedienungsfreundlichkeit
        bieten, wie die Cookie-Einstellungen auf unserer Webseite. Wenn Sie einfach alle Cookies oder all
        unsere Cookies in den Browsereinstellungen deaktivieren, kann es vorkommen, dass bestimmte Abschnitte oder
        Funktionen unserer Webseite nicht funktionieren, da Ihr Browser es nicht zulässt, dass wir für Funktionen
        erforderliche Cookies aktivieren. Daher empfehlen wir Ihnen, die Cookie-Einstellungen auf unserer
        Webseite anzupassen, anstatt alle Cookies über den Internetbrowser zu deaktivieren.</p>
      <p class="text-justify mb-4">Die folgende Liste bietet weitere Informationen zum Deaktivieren oder Verwalten Ihrer
        Cookie-Einstellungen im
        von Ihnen verwendeten Browser:</p>
      <p class="text-justify mb-4">
        Google Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=de"
                          class="underline text-primary dark:text-primary-400">https://support.google.com/chrome/answer/95647?hl=de</a><br>Firefox:
        <a href="https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen"
           class="underline text-primary dark:text-primary-400">https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen</a><br>Internet
        Explorer: <a
        href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies"
        class="underline text-primary dark:text-primary-400">https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a><br>Safari:
        <a href="https://support.apple.com/de-de/guide/safari/sfri11471/mac"
           class="underline text-primary dark:text-primary-400">https://support.apple.com/de-de/guide/safari/sfri11471/mac</a>
      </p>
      <h4 class="text-lg font-semibold mb-4">Weitere Informationen zu den auf orbnet.de verwendeten Cookies - Cookies,
        die für eine korrekte Funktionsweise der Webseite sorgen (erforderliche Cookies)</h4>
      <div class="text-justify mb-4">Auf unserer Webseite werden möglicherweise Cookies zu folgenden Zwecken
        eingesetzt:
        <ul>
          <li>Speichern von Einstellungen, die Sie auf unseren Webseiten tätigen</li>
          <li>Speichern von Produkten, die Sie während des Online-Kaufvorgangs Ihrem Warenkorb hinzufügen</li>
          <li>Speichern von Informationen, die Sie beim Zahlen oder Bestellen auf den verschiedenen Seiten eingeben,
            damit
            Sie diese Angaben nicht wiederholt eingeben müssen
          </li>
        </ul>
      </div>
      <h4 class="text-lg font-semibold mb-4">Cookies, die uns die Messung der Nutzung unserer Webseite ermöglichen
        (Analyse-Cookies)
      </h4>
      <div class="text-justify mb-4">Auf unserer Webseite werden möglicherweise Analyse-Cookies zu folgenden Zwecken
        eingesetzt:
        <ul>
          <li>Überwachen der Anzahl der Besucher auf unserer Webseite</li>
          <li>Überwachen der Zeit, die jeder einzelne Besucher auf unserer Webseite verbringt</li>
          <li>Ermitteln der Reihenfolge, in der ein Besucher die verschiedenen Seiten unserer Webseite besucht hat</li>
          <li>Ermitteln der Bereiche unserer Webseite, bei denen Verbesserungsbedarf besteht</li>
          <li>Optimieren der Webseite</li>
        </ul>
      </div>
      <h4 class="text-lg font-semibold mb-4">Cookies zur Anzeige gezielter Werbeanzeigen und Inhalte (gezielte
        Werbe-Cookies)</h4>
      <p class="text-justify mb-4">Damit wir Informationen und Werbung, die relevant und auf Ihre Interessen
        zugeschnitten sind, bereitstellen
        können, versuchen wir, uns basierend auf den von Ihnen besuchten Webseiten von Drittanbietern sowie Ihrem
        Surfverhalten ein Verständnis für Ihre möglichen Interessen zu bekommen. Mithilfe dieser Interessen erstellen
        wir ein segmentiertes Profil und passen anschließend den Inhalt und die Werbeanzeigen auf unserer Webseite für
        verschiedene Kundengruppen an.</p>
      <p class="text-justify mb-4">Drittanbieter, die über unsere Webseite Cookies einrichten, versuchen möglicherweise
        auch, auf diese Weise Ihre
        Interessen zu ermitteln. Diese Informationen werden möglicherweise auch dazu verwendet, Ihnen Inhalte oder
        Werbung zu präsentieren, die Sie womöglich auf anderen, nicht von orbnet erstellten Webseiten, relevant finden.
        In diesem Fall können die Informationen über Ihren aktuellen Besuch unserer Webseite mit Angaben zu Ihren
        vorherigen Besuchen auf anderen Webseiten als unseren kombiniert werden.</p>
      <div class="text-justify mb-4">Gezielte Werbe-Cookies werden möglicherweise von uns zu folgenden Zwecken
        eingesetzt:
        <ul>
          <li>Speichern Ihrer Webseitenbesuche zum Ermitteln Ihrer Interessen</li>
          <li>Prüfen, ob Sie auf eine Werbeanzeige geklickt haben</li>
          <li>Überwachen der Anzahl der Besucher, die auf eine Werbeanzeige klicken</li>
          <li>Bestimmen, welche Werbung, Werbemittel und -netzwerke für uns effizient sind</li>
          <li>Bestimmen, auf welche Werbeanzeigen Sie geklickt haben, bevor Sie einen Kauf auf unserer Webseite tätigen
          </li>
          <li>Überwachen der Anzahl der Bestellungen, die aufgrund von Werbung erfolgen sowie deren monetären Wert</li>
          <li>Zusenden von auf Ihre Interessen zugeschnitten E-Mails als Direktmarketing (falls Sie dem Erhalt solcher
            E-Mails zugestimmt haben)
          </li>
          <li>Zuordnen mehrere Geräte (z. B Telefon, Tablet, Laptop) zu einem Besucher zur Nachverfolgung, ob eine
            Werbung
            auf einem Gerät auf einem anderen Gerät zu einer Handlung (z. B. einem Kauf) geführt hat (sogenanntes
            "geräteübergreifendes Tracking")
          </li>
        </ul>
      </div>
      <h3 class="text-xl font-semibold my-8">Verwendete Cookies</h3>
      <p class="text-justify mb-4"><strong>Erforderliche Cookies</strong><br>Session- und Einstellungs-Cookies</p>
      <p class="text-justify mb-4"><strong>Analytische Cookies</strong><br>Analyse Cookies von Google und orbnet</p>
      <p class="text-justify mb-4"><strong>Werbe Cookies</strong><br>Facebook Pixel und Mautic Pixel</p>
      <h4 class="text-lg font-semibold mb-4">Schlussbemerkungen</h4>
      <p class="text-justify mb-4">Diese Cookie-Richtlinie kann gelegentlich von orbnet angepasst werden,
        beispielsweise, weil unsere Webseite
        oder die Regeln in Bezug auf Cookies geändert werden. Wir behalten uns das Recht vor, die Inhalte der
        Cookie-Richtlinie und die in den Listen enthaltenen Cookies jederzeit und ohne vorherige Ankündigung anzupassen.
        Die neue Cookie-Richtlinie tritt mit ihrer Veröffentlichung in Kraft. Wenn Sie der überarbeiteten Richtlinie
        nicht zustimmen, sollten Sie Ihre persönlichen Einstellungen ändern oder in Betracht ziehen, die Webseiten von
        orbnet.de nicht mehr zu nutzen. Wenn Sie nach solchen Änderungen weiterhin auf unsere Dienste zugreifen oder sie
        nutzen, stellt dies eine Annahme der geänderten Cookie-Richtlinie dar. Die aktuelle Version ist auf dieser
        Webseite einsehbar.</p>
      <p class="text-justify mb-4">Wenn Sie Fragen und/oder Kommentare haben, kontaktieren Sie uns unter
        datenschutz@orbnet.de.</p>

      <button type="button"
              data-cc="show-preferencesModal"
              class="bg-dark dark:bg-dark-3 transition duration-500 hover:bg-dark-4 text-white w-full py-4 rounded-md"
      >
        Cookie Einstellungen verwalten
      </button>
    </div>
  </Section>
</Layout>
