---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Häufig gestellte Fragen"
        description="Hier antworten wir dir auf die häuftigsten Fragen"
        canonical={new URL('faq/', Astro.site)}
>
  <section class="pt-24 lg:pt-32 pb-12">
    <div class="container max-w-screen-xl justify-center text-dark dark:text-white">
      <h1 class="text-3xl font-semibold mb-4">Häufig gestellte Fragen</h1>
      <h2 class="text-2xl font-semibold">Hier antworten wir auf die häufigsten Fragen</h2>

      <hr class="mt-8"/>
      <h3 class="mt-8 text-xl font-semibold mb-4">Wie lange ist die Laufzeit?</h3>
      Sie buchen orbnet für 30 Tage.
      <br>
      <br>
      Die ersten 7 Tage sind die Probezeit, danach können Sie sich entscheiden, ob Sie auf das vollwertige Produkt upgraden.
      <br>
      <br>
      Erst dann werden Zahlungsdaten (SEPA-Mandat usw.) fällig.

      <hr class="mt-8"/>
      <h3 class="mt-8 text-xl font-semibold mb-4">Gibt es Rabatte?</h3>
      orbnet bietet selbst keine Preisnachlässe für die Software. Sie können jedoch, wenn Sie Mitglied bei einem unserer Kooperationspartner sind, sich über Mitgliedervorteile informieren.
      <br>
      <br>
      Kooperationspartner sind u.a. auf Verbandsebene:
      <br>
      <br>
      <ul>
        <li>BDVT</li>
        <li>DVCT</li>
        <li>QRC</li>
        <li>ICF</li>
      </ul>

      <hr class="mt-8"/>
      <h3 class="mt-8 text-xl font-semibold mb-4">Wie lange ist die Kündigungsfrist?</h3>
      Die Kündigungsfrist ist jeweils zum Monatsende möglich.
      <br>
      <br>
      Bei Nichtkündigung verlängert sich das Abonnement um weitere 30 Tage.

      <hr class="mt-8"/>
      <h3 class="mt-8 text-xl font-semibold mb-4">Mit was für einen Konfigurationsaufwand muss ich rechnen?</h3>
      Wir haben unser bestes gegeben, damit für Sie der Einstieg so einfach, wie nur möglich gestaltet wird.
      <br>
      <br>
      Ein "Setup-Wizard" führt Sie nach der Registrierung durch die Erstkonfiguration. Hierbei werden Ihr Logo, sowie weitere Firmendaten abgefragt. Bestandsdaten, wie Kundendaten, Produktdaten usw. können Sie ganz einfach mit einem unserer Import-Tools importieren.
      <br>
      <br>
      Sie kommen einmal nicht weiter? Kein Problem! Unser freundliches Support-Team kümmert sich um Ihr Anliegen in unserem Live-Chat.

      <hr class="mt-8"/>
      <h3 class="mt-8 text-xl font-semibold mb-4">Kann ich mein Paket jederzeit wechseln?</h3>
      Natürlich! Sie können innerhalb der bestehenden Laufzeit von 30 Tagen Ihr Paket z.B. upgraden.
      <br>
      <br>
      Sobald Sie ein höheres Paket gewählt haben können Sie sofort alle neuen Funktion nutzen.
      <br>
      <br>
      Bei einem Downgrade werden die Änderungen zur nächsten Abrechnungsperiode wirksam.

      <hr class="mt-8"/>
      <h3 class="mt-8 text-xl font-semibold mb-4">Muss ich orbnet installieren?</h3>
      Wir sind ein reines SaaS-Startup (Software as a Service) und haben deshalb keine Installationsmöglichkeiten.
      <br>
      <br>
      Alles läuft über deutsche Rechenzentren, sodass Sie von überall auf der Welt zu jeder Zeit auf Ihre Unternehmensdaten zugreifen können.
      Sie brauchen hierfür lediglich einen Browser und Internet.

      <hr class="mt-8"/>
      <h3 class="mt-8 text-xl font-semibold mb-4">Was ist "Onboarding"?</h3>
      In unserem umfangreichen "Onboarding" Prozess bieten wir ihnen einen persönlichen und individuellen Einstieg in orbnet, sodass Sie sich von Anfang an wohlfühlen.
      <br>
      <br>
      Unser Support-Team kümmert sich um all Ihre Anfragen, auch in der Testphase. Persönliche Webinare unterstützen Sie bei den ersten Schritten. Als zahlender Kunde kommen Sie immer in den Genuss eines persönlichen Ansprechpartners bei orbnet, der Ihnen weiterhilft.


      <hr class="mt-8"/>
      <h3 class="mt-8 text-xl font-semibold mb-4">Wir konnten Ihre Frage nicht beantworten?</h3>
      Falls Sie weitere Fragen haben, so kontaktieren Sie gerne unseren Support in orbnet, oder Sie erreichen uns einfach unter support@orbnet.de
    </div>
  </section>
</Layout>
