---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---
<Layout
  title="Datenschutzerklärung"
  description="Ihre Daten sind unser höchstes Gut. Bei orbnet können Sie sich sicher sein, dass Ihre Daten auf deutschen Rechenzentren verarbeitet und gesichert werden."
  canonical={new URL('/privacy/', Astro.site)}
>
  <Section>
    <div class="container max-w-screen-xl pt-24 lg:pt-32 pb-12 text-dark dark:text-white">
      <h1 class="text-3xl font-semibold mb-8">Datenschutzerklärung</h1>
      <h2 class="text-2xl font-semibold mb-8">Ihre Daten sind unser höchstes Gut. Bei orbnet können Sie sich sicher sein, dass Ihre Daten auf deutschen Rechenzentren verarbeitet und gesichert werden.</h2>
      <h3 class="text-xl font-semibold mb-8">Datenerhebung durch uns</h3>
      <p class="mb-4">
        Bei der Nutzung unserer Dienste und Funktionalitäten, der Registrierung oder Ihrer Kontaktaufnahme übermitteln
        Sie uns personenbezogene Daten, welche wir zum Zwecke der
        Vertragsabwicklung und der Bearbeitung Ihrer Anfragen erheben, verarbeiten und nutzen. Diese Daten werden von
        uns nur streng zweckgebunden im Rahmen der Datenschutzgesetze
        behandelt.
      </p>
      <p class="mb-4">
        Die verantwortliche Stelle im Sinne der Datenschutzgesetze ist:
      </p>
      <p class="mb-4">
        orbnet GmbH<br>Bürgermeister-Wegele-Straße 6<br>86167 Augsburg<br>Deutschland
      </p>
      <p class="mb-4">
        Telefon: +49 821 / 570 897 90
      </p>
      <p class="mb-4">
        E-Mail: info@orbnet.de
      </p>
      <p class="mb-4">
        Fragen zum Datenschutz per E-Mail: datenschutz@orbnet.de
      </p>

      <h4 class="text-lg font-semibold mb-4">Verwendung von Cookies</h4>
      <p class="mb-4">
        Die Seite www.orbnet.de nutzt so genannte "Cookies". Cookies sind kleine Textdateien, die auf Ihrem Rechner
        abgelegt werden und die von Ihrem Internetbrowser gemäß den dort
        hinterlegten Einstellungen gespeichert und verarbeitet werden. Diese Cookies enthalten Informationen über Ihre
        Nutzung dieser Seite sowie technische Informationen. Die
        Cookies dienen dazu, die Nutzung der Seite zu ermöglichen. Die meisten auf der Seite verwendeten Cookies sind
        sogenannte "Session-Cookies". Diese werden nach Ende Ihres
        Besuchs automatisch wieder von Ihrem Rechner aus dem browser-cache / Speicher gelöscht. Bitte überprüfen Sie
        hierzu die Einstellungen Ihres Internetbrowsers (z.B. Firefox,
        Internet Explorer, Chrome, Opera, Safari). Ihr Internetbrowser gibt Ihnen zudem die Möglichkeit die Behandlung
        von Cookies zu regeln oder diese gleich ganz zu deaktivieren.
      </p>
      <p class="mb-4">
        Weitere Informationen und Einstellungsmöglichkeiten erhalten Sie unter unserer
        <a href="/cookie-richtlinie/" class="underline text-primary dark:text-primary-400">Cookie-Richtlinie</a>.
      </p>

      <h4 class="text-lg font-semibold mb-4">Erhebung personenbezogener Daten</h4>
      <p class="mb-4">
        Wir erheben Ihre personenbezogenen Daten nur insoweit Sie uns diese im Rahmen ihrer Registrierung, der
        Vertragsabwicklung oder Kontaktaufnahme mitteilen. Es werden erhoben:
      </p>
      <p class="mb-4">
        Vorname<br>Nachname<br>Unternehmensbezeichnung<br>E-Mail-Adresse<br>Anschrift<br>Zugriffsberechtigte
      </p>

      <h4 class="text-lg font-semibold mb-4">Verwendung personenbezogener Daten</h4>
      <p class="mb-4">
        Wir verwenden Ihre Daten innerhalb unseres Dienstes zur Beantwortung Ihrer Anfragen sowie der Vertragsabwicklung
        und Anlage Ihres Kundenaccounts.
      </p>

      <h4 class="text-lg font-semibold mb-4">Weitergabe personenbezogener Daten an Dritte</h4>
      <p class="mb-4">
        Die Weitergabe an Dritte kann z.B. zur Abwicklung hinsichtlich der Bezahlung. Eine Weitergabe erfolgt an die von
        uns beauftragten Zahlungsabwickler. Diese Drittanbieter
        sind jedoch dazu verpflichtet, die von uns erhaltenen Daten vertraulich zu behandeln und ausschließlich zum
        Zwecke des Services und der Geschäftsabwicklung zu verwenden.
        Eine weitergehende Weitergabe an Dritte ist ausgeschlossen, es sei denn es besteht eine gesetzliche
        Verpflichtung hierzu oder Sie willigen zu einer Weitergabe ausdrücklich
        ein.
      </p>

      <h4 class="text-lg font-semibold mb-4">Speicherung personenbezogener Daten</h4>
      <p class="mb-4">
        Wir speichern Ihre personenbezogenen Daten solange dies zur Zweckerfüllung notwendig ist oder eine Aufbewahrung
        auf Grund gesetzlicher Vorschriften vorgeschrieben ist. Nach
        Zweckerfüllung oder Ablauf der gesetzlichen Aufbewahrungsfristen werden Ihre personenbezogenen Daten von uns
        automatisch gelöscht.
      </p>

      <h4 class="text-lg font-semibold mb-4">Speicherort</h4>
      <p class="mb-4">
        Der Speicherort liegt hierbei in Deutschland. Eine Speicherung in Drittländern findet nicht statt.
      </p>

      <h4 class="text-lg font-semibold mb-4">Auskunft, Löschung, Sperrung</h4>
      <p class="mb-4">
        Sie haben jederzeit das Recht Auskunft über die bezüglich Ihrer Person gespeicherten personenbezogenen Daten,
        deren Herkunft und Empfänger sowie den Zweck der Speicherung
        zu verlangen. Auskunft über diese gespeicherten Daten erhalten Sie unter: info@orbnet.de
      </p>

      <h4 class="text-lg font-semibold mb-4">Widerruf Ihrer Einwilligung, Berichtigung, Löschung und Sperrung von
        Daten</h4>
      <p class="mb-4">
        Sie können Ihre Einwilligung zur Speicherung von personenbezogenen Daten jederzeit für die Zukunft widerrufen.
        Zudem können Sie die Berichtigung fehlerhafter
        personenbezogener Daten sowie die Sperrung und die Löschung dieser personenbezogenen Daten verlangen, soweit wir
        diese Daten nicht zur Zweckerfüllung benötigen oder aus
        gesetzlichen Gründen zur Aufbewahrung verpflichtet sind. Bitte wenden Sie sich hierfür an:
      </p>
      <p class="mb-4">
        E-Mail: info@orbnet.de
      </p>

      <h4 class="text-lg font-semibold mb-4">Änderung der Datenschutzhinweise</h4>
      <p class="mb-4">
        Wir behalten es uns vor, diese Datenschutzhinweise nach einem Hinweis darauf zu aktualisieren.
      </p>

      <h4 class="text-lg font-semibold mb-4">Sicherheit</h4>
      <p class="mb-4">
        Wir setzen technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre durch uns erhobenen und
        gespeicherten personenbezogenen Daten gegen zufällige oder vorsätzliche
        Manipulationen, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen zu schützen. Unsere
        Sicherheitsmaßnahmen werden entsprechend der technologischen
        Entwicklung fortlaufend verbessert.
      </p>

      <h4 class="text-lg font-semibold mb-4">Newsletter</h4>
      <p class="mb-4">
        <strong>Art und Umfang der Verarbeitung</strong>
      </p>
      <p class="mb-4">
        Sofern Sie sich auf unserer Website zum Empfang unseres Newsletters anmelden, erheben wir Ihre E-Mail-Adresse
        und speichern diese Informationen zusammen mit dem Datum der
        Anmeldung und Ihrer IP-Adresse. Im Anschluss erhalten Sie eine E-Mail, in der Sie die Anmeldung zum Newsletter
        bestätigen müssen (Double-Opt-in). Sollten Sie nicht
        innerhalb von 24 Stunden die Anmeldung bestätigen, verfällt diese automatisch und die Daten werden nicht für den
        Newsletterversand verarbeitet.
      </p>
      <p class="mb-4">
        Der Versand des Newsletters erfolgt direkt durch uns. Eine Weitergabe Ihrer Daten an Dritte oder
        Auftragsverarbeiter im Sinne des Art. 28 DSGVO erfolgt nicht.
      </p>
      <p class="mb-4">
        <strong>Zweck und Rechtsgrundlage</strong>
      </p>
      <p class="mb-4">
        Wir verarbeiten Ihre Daten zum Zweck des Newsletterversands auf Grundlage Ihrer Einwilligung gem. Art. 6 Abs. 1
        lit. a DSGVO. Durch Abmeldung vom Newsletter können Sie
        jederzeit mit Wirkung für die Zukunft Ihren Widerruf gem. Art. 7 Abs. 3 DSGVO erklären. Es besteht keine
        gesetzliche oder vertragliche Pflicht zur Bereitstellung Ihrer
        Daten, jedoch ist ein Versand des Newsletters ohne die Bereitstellung Ihrer Daten nicht möglich.
      </p>
      <p class="mb-4">
        <strong>Speicherdauer</strong>
      </p>
      <p class="mb-4">
        Nach Anmeldung zum Newsletter speichern wir die Daten maximal [XX Stunden] bis zur Bestätigung der Anmeldung.
        Nach erfolgreicher Bestätigung speichern wir Ihre Daten bis
        zum Widerruf Ihrer Einwilligung (Abmeldung vom Newsletter), sowie aus technischen Gründen darüber hinaus maximal
        7 Tage.
      </p>

      <h4 class="text-lg font-semibold mb-4">Präsenzen auf Social-Media-Plattformen</h4>
      <p class="mb-4">
        Wir unterhalten auf den unten genannten Netzwerken sog. Fan-Pages bzw. Accounts oder Kanäle, um Ihnen auch
        innerhalb von sozialen Netzwerken Informationen und Angebote
        bereitzustellen und Ihnen weitere Wege anzubieten, Kontakt zu uns aufzunehmen und sich über unsere Angebote zu
        informieren. Im Folgenden informieren wir Sie darüber, welche
        Daten wir bzw. das jeweilige soziale Netzwerk von Ihnen im Zusammenhang mit dem Aufruf und der Nutzung unserer
        Fan-Pages/Accounts von Ihnen verarbeiten.
      </p>
      <p class="mb-4">
        <strong>Daten, die wir von Ihnen verarbeiten</strong>
      </p>
      <p class="mb-4">
        Wenn Sie per Messenger oder via Direct Message über das jeweilige sozialen Netzwerk Kontakt zu uns aufnehmen
        möchten, verarbeiten wir in der Regel Ihren Nutzernamen, über
        den Sie uns kontaktieren und speichern ggf. weitere von Ihnen mitgeteilte Daten soweit dies zur
        Bearbeitung/Beantwortung Ihres Anliegens erforderlich ist.
      </p>
      <p class="mb-4">
        Rechtsgrundlage ist Art. 6 Abs. 1 Satz 1 f) DSGVO (Verarbeitung ist erforderlich zur Wahrung berechtigter
        Interessen des Verantwortlichen).
      </p>
      <p class="mb-4">
        <strong>(Statische) Nutz-Daten, die wir von den sozialen Netzwerken erhalten</strong>
      </p>
      <p class="mb-4">
        Wir erhalten über Insights-Funktionalitäten automatisiert bereitgestellte Statistiken betreffend unserer
        Accounts. Die Statistiken enthalten unter anderem die Gesamtanzahl
        von Seitenaufrufen, Gefällt mir-Angaben, Angaben zu Seitenaktivitäten und Beitragsinteraktionen, Reichweiten,
        Video-Aufrufe/Ansichten sowie Angaben zum Anteil Männer/Frauen
        unter unseren Fans/Followern.
      </p>
      <p class="mb-4">
        Die Statistiken enthalten lediglich aggregierte und nicht auf einzelne Personen beziehbare Daten. Sie sind für
        uns hierüber nicht identifizierbar.
      </p>
      <p class="mb-4">
        <strong>Welche Daten die sozialen Netzwerke von Ihnen verarbeiten</strong>
      </p>
      <p class="mb-4">
        Um die Inhalte unserer Fan-Pages bzw. Accounts betrachten zu können, müssen Sie nicht Mitglied des jeweiligen
        sozialen Netzwerks sein und ist insoweit kein Nutzerkonto für
        das jeweilige soziale Netzwerk erforderlich.
      </p>
      <p class="mb-4">
        Bitte beachten Sie aber, dass die sozialen Netzwerke bei Aufruf des jeweiligen sozialen Netzwerkes Daten auch
        von Website-Besuchern ohne Nutzerkonto erfassen und speichern
        (z.B. technische Daten, um Ihnen die Website anzeigen zu können) und Cookies und ähnliche Technologien
        einsetzen, worauf wir keinerlei Einfluss haben. Einzelheiten hierzu
        finden Sie in den Datenschutzbestimmungen des jeweiligen sozialen Netzwerks (siehe die entsprechenden Links
        oben)
      </p>
      <p class="mb-4">
        Soweit Sie mit den Inhalten auf unseren Fan-Pages/Accounts interagieren wollen, z.B. unsere Postings/Beiträge
        kommentieren, teilen oder liken wollen und/oder über
        Messenger-Funktionen Kontakt zu uns aufnehmen möchten, ist eine vorherige Registrierung bei dem jeweiligen
        sozialen Netzwerk und die Angabe personenbezogener Daten
        erforderlich.
      </p>
      <p class="mb-4">
        Wir haben keinen Einfluss auf die Datenverarbeitung durch die sozialen Netzwerke im Rahmen der Nutzung durch
        Sie. Unserem Kenntnisstand nach werden Ihre Daten insbesondere
        im Zusammenhang mit der Zur-Verfügung-Stellung der Dienste des jeweiligen sozialen Netzwerks gespeichert und
        verarbeitet, ferner zur Analyse des Nutzungsverhaltens (unter
        Einsatz von Cookies, Pixel/Web Beacons und ähnlichen Technologien) auf deren Basis auf Ihren Interessen
        basierende Werbung sowohl innerhalb als auch außerhalb des
        jeweiligen sozialen Netzwerks ausgespielt wird. Es kann dabei nicht ausgeschlossen werden, dass Ihre Daten dabei
        von den sozialen Netzwerken auch außerhalb der EU/dem EWR
        gespeichert werden und an Dritte weitergegeben werden.
      </p>
      <p class="mb-4">
        Informationen unter anderem zum genauen Umfang und den Zwecken der Verarbeitung Ihrer personenbezogenen Daten,
        der Speicherdauer/Löschung sowie Richtlinien zum Einsatz von
        Cookies und ähnlichen Technologien im Rahmen der Registrierung und Nutzung der sozialen Netzwerke finden Sie in
        den Datenschutzbestimmungen/Cookie-Richtlinien der sozialen
        Netzwerke. Dort finden Sie auch Informationen zu Ihren Rechten und Widerspruchsmöglichkeiten.
      </p>

      <h4 class="text-lg font-semibold mb-4">Facebook-Seite</h4>
      <p class="mb-4">
        Beim Besuch unserer Facebook-Seite erfasst Facebook unter anderem Ihre IP-Adresse sowie weitere Informationen,
        die in Form von Cookies auf Ihrem PC vorhanden sind. Diese
        Informationen werden verwendet, um uns als Betreiber der Facebook-Seiten statistische Informationen über die
        Inanspruchnahme der Facebook-Seite zur Verfügung zu stellen.
        Nähere Informationen hierzu stellt Facebook unter folgendem Link zur Verfügung:
        <a href="https://facebook.com/help/pages/insights" class="underline text-primary dark:text-primary-400">https://facebook.com/help/pages/insights</a>.
      </p>
      <p class="mb-4">
        Mittels der übermittelten statistischen Informationen ist es uns nicht möglich Rückschlüsse auf einzelne Nutzer
        zu ziehen. Wir greifen auf diese lediglich dahingehend
        zurück, um auf die Interessen unserer Nutzer eingehen zu können und unsere Onlinepräsenz fortgehend zu
        verbessern und die Qualität dieser zu sichern.
      </p>
      <p class="mb-4">
        Wir erheben Ihre Daten über unsere Fanpage lediglich, um eine mögliche Bereitstellung zur Kommunikation und
        Interaktion mit uns zu realisieren. Diese Erhebung umfasst
        i.d.R. Ihren Namen, Nachrichteninhalte, Kommentarinhalte sowie die von Ihnen „öffentlich“ bereitgestellten
        Profilinformationen.
      </p>
      <p class="mb-4">
        Die Verarbeitung Ihrer personenbezogenen Daten zu unseren oben genannten Zwecken erfolgt auf Grundlage unseres
        berechtigten betriebswirtschaftlichen und kommunikativen
        Interesses an dem Angebot eines Information- und Kommunikationskanals gem. Art. 6 Abs. 1 f) DSGVO. Sollte Sie
        als Nutzer gegenüber dem jeweiligen Anbieter des sozialen
        Netzwerkes eine Einwilligung in die Datenverarbeitung abgegeben haben, erstreckt sich die Rechtsgrundlage der
        Verarbeitung auf Art. 6 Abs. 1 a), Art. 7 DSGVO.
      </p>
      <p class="mb-4">
        Auf Grund der Tatsache, dass die eigentliche Datenverarbeitung durch den Anbieter des sozialen Netzwerkes
        erfolgt, sind unsere Zugriffsmöglichkeiten auf Ihre Daten
        beschränkt. Lediglich der Anbieter des sozialen Netzwerkes ist zu einem vollständigen Zugriff auf Ihre Daten
        legitimiert. Auf Grund dessen, kann nur der Anbieter direkt
        entsprechende Maßnahmen zur Erfüllung Ihrer Nutzerrechte (Auskunftsanfrage, Löschverlangen, Widerspruch, etc.)
        ergreifen und umsetzen. Die Geltendmachung entsprechender
        Rechte erfolgt somit am effektivsten direkt gegenüber dem jeweiligen Anbieter.
      </p>
      <p class="mb-4">
        Wir sind gemeinsam mit Facebook verantwortlich für die personenbezogenen Inhalte der Fanseite. Betroffenenrechte
        können bei Facebook Ireland sowie bei uns geltend gemacht
        werden.
      </p>
      <p class="mb-4">
        Die primäre Verantwortung für die Verarbeitung von Insights-Daten liegt gemäß DSGVO bei Facebook und Facebook
        erfüllt sämtliche Pflichten aus der DSGVO im Hinblick auf die
        Verarbeitung von Insights-Daten, Facebook Ireland stellt das Wesentliche der Seiten-Insights-Ergänzung den
        betroffenen Personen zur Verfügung.
      </p>
      <p class="mb-4">
        Wir treffen keine Entscheidungen hinsichtlich der Verarbeitung von Insights-Daten und alle weiteren sich aus
        Art. 13 DSGVO ergebenden Informationen, darunter
        Rechtsgrundlage, Identität des Verantwortlichen und Speicherdauer von Cookies auf Nutzerendgeräten.
      </p>
      <p class="mb-4">
        Weitere Hinweise finden Sie direkt bei Facebook (Ergänzungsvereinbarung mit Facebook):
        <a href="https://www.facebook.com/legal/terms/page_controller_addendum"
           class="underline text-primary dark:text-primary-400">https://www.facebook.com/legal/terms/page_controller_addendum</a>.
      </p>

      <h4 class="text-lg font-semibold mb-4">Instagram-Seite</h4>
      <p class="mb-4">
        Beim Besuch unserer Instagram-Seite erfasst Instagram unter anderem Ihre IP-Adresse sowie weitere Informationen,
        die in Form von Cookies auf Ihrem PC vorhanden sind. Diese
        Informationen werden verwendet, um uns als Betreiber der Instagram-Seiten statistische Informationen über die
        Inanspruchnahme der Instagram-Seite zur Verfügung zu stellen.
        Nähere Informationen hierzu stellt Instagram unter folgendem Link zur Verfügung:
        <a href="https://facebook.com/help/pages/insights">https://facebook.com/help/pages/insights</a>.
      </p>
      <p class="mb-4">
        Mittels der übermittelten statistischen Informationen ist es uns nicht möglich Rückschlüsse auf einzelne Nutzer
        zu ziehen. Wir greifen auf diese lediglich dahingehend
        zurück, um auf die Interessen unserer Nutzer eingehen zu können und unsere Onlinepräsenz fortgehend zu
        verbessern und die Qualität dieser zu sichern.
      </p>
      <p class="mb-4">
        Wir erheben Ihre Daten über unsere Fanpage lediglich, um eine mögliche Bereitstellung zur Kommunikation und
        Interaktion mit uns zu realisieren. Diese Erhebung umfasst
        i.d.R. Ihren Namen, Nachrichteninhalte, Kommentarinhalte sowie die von Ihnen „öffentlich“ bereitgestellten
        Profilinformationen.
      </p>
      <p class="mb-4">
        Die Verarbeitung Ihrer personenbezogenen Daten zu unseren oben genannten Zwecken erfolgt auf Grundlage unseres
        berechtigten betriebswirtschaftlichen und kommunikativen
        Interesses an dem Angebot eines Information- und Kommunikationskanals gem. Art. 6 Abs. 1 f) DSGVO. Sollte Sie
        als Nutzer gegenüber dem jeweiligen Anbieter des sozialen
        Netzwerkes eine Einwilligung in die Datenverarbeitung abgegeben haben, erstreckt sich die Rechtsgrundlage der
        Verarbeitung auf Art. 6 Abs. 1 a), Art. 7 DSGVO.
      </p>
      <p class="mb-4">
        Auf Grund der Tatsache, dass die eigentliche Datenverarbeitung durch den Anbieter des sozialen Netzwerkes
        erfolgt, sind unsere Zugriffsmöglichkeiten auf Ihre Daten
        beschränkt. Lediglich der Anbieter des sozialen Netzwerkes ist zu einem vollständigen Zugriff auf Ihre Daten
        legitimiert. Auf Grund dessen, kann nur der Anbieter direkt
        entsprechende Maßnahmen zur Erfüllung Ihrer Nutzerrechte (Auskunftsanfrage, Löschverlangen, Widerspruch, etc.)
        ergreifen und umsetzen. Die Geltendmachung entsprechender
        Rechte erfolgt somit am effektivsten direkt gegenüber dem jeweiligen Anbieter.
      </p>
      <p class="mb-4">
        Wir sind gemeinsam mit Instagram verantwortlich für die personenbezogenen Inhalte der Fanseite.
        Betroffenenrechte können bei Facebook Ireland sowie bei uns geltend gemacht
        werden.
      </p>
      <p class="mb-4">
        Die primäre Verantwortung für die Verarbeitung von Insights-Daten liegt gemäß DSGVO bei Instagram und Instagram
        erfüllt sämtliche Pflichten aus der DSGVO im Hinblick auf
        die Verarbeitung von Insights-Daten, Facebook Ireland stellt das Wesentliche der Seiten-Insights-Ergänzung den
        betroffenen Personen zur Verfügung.
      </p>
      <p class="mb-4">
        Wir treffen keine Entscheidungen hinsichtlich der Verarbeitung von Insights-Daten und alle weiteren sich aus
        Art. 13 DSGVO ergebenden Informationen, darunter
        Rechtsgrundlage, Identität des Verantwortlichen und Speicherdauer von Cookies auf Nutzerendgeräten.
      </p>
      <p class="mb-4">
        Weitere Hinweise finden Sie direkt bei Instagram (Ergänzungsvereinbarung mit Facebook):
        <a href="https://www.facebook.com/legal/terms/page_controller_addendum"
           class="underline text-primary dark:text-primary-400">https://www.facebook.com/legal/terms/page_controller_addendum</a>.
      </p>

      <h4 class="text-lg font-semibold mb-4">Twitter-Seite</h4>
      <p class="mb-4">
        Wir sind gemeinsam mit Twitter verantwortlich für die personenbezogenen Inhalte der Fanseite. Betroffenenrechte
        können bei Twitter Inc. sowie bei uns geltend gemacht
        werden.
      </p>
      <p class="mb-4">
        Die primäre Verantwortung gemäß DSGVO für die Verarbeitung von Insights-Daten liegt bei Twitter und Twitter
        erfüllt sämtliche Pflichten aus der DSGVO im Hinblick auf die
        Verarbeitung von Insights-Daten, Twitter Inc. stellt das Wesentliche der Seiten-Insights-Ergänzung den
        betroffenen Personen zur Verfügung.
      </p>
      <p class="mb-4">
        Wir treffen keine Entscheidungen hinsichtlich der Verarbeitung von Insights-Daten und alle weiteren sich aus
        Art. 13 DSGVO ergebenden Informationen, darunter
        Rechtsgrundlage, Identität des Verantwortlichen und Speicherdauer von Cookies auf Nutzerendgeräten
      </p>
      <p class="mb-4">
        Weitere Hinweise finden Sie direkt bei Twitter:
        <a href="https://twitter.com/de/privacy"
           class="underline text-primary dark:text-primary-400">Datenschutzrichtlinie</a>.
      </p>
      <p class="mb-4">
        Das dem Angebot zugrunde liegende Twitter-Nutzungskonzept können Sie unter unserer oben genannten E-Mail-Adresse
        mit dem Stichwort „Twitter-Nutzungskonzept“ anfordern.
      </p>
    </div>
  </Section>
</Layout>
