---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---
<Layout
  title="AGB orbnet GmbH"
  description="Allgemeine Geschäftsbedingungen der orbnet GmbH"
  canonical={new URL('/terms/', Astro.site)}
>
  <Section>
    <div class="container max-w-screen-xl pt-24 lg:pt-32 pb-12 text-dark dark:text-white">
      <h1 class="text-3xl font-semibold mb-8">Allgemeine Geschäftsbedingungen der orbnet GmbH</h1>
      <h2 class="text-2xl font-semibold mb-8">Allgemeine Geschäftsbedingungen der orbnet GmbH im Folgenden als orbnet
        bezeichnet.</h2>

      <h3 class="text-xl font-semibold mb-4">Präambel</h3>
      <p class="text-justify my-4">orbnet bietet seinen Kunden die Möglichkeit, die in der Leistungsbeschreibung
        genannten Geschäftsprozesse mittels der von orbnet online zur Verfügung gestellten Softwaremodule und
        Funktionalitäten zu tätigen. Der Kunde erhält hierbei über die Webseite www.orbnet.de und deren Subdomains wie
        z.B. my.orbnet.de Zugang zu den jeweils in der Leistungsbeschreibung und seinem Paket gebuchten Softwaremodulen
        und Funktionalitäten. Kunden können ausschließlich Unternehmer im Sinne des § 14 BGB sein. Nur an diese richtet
        sich das Angebot von orbnet. Die Software läuft zentral auf den Servern von orbnet. Der Kunde hat die
        Möglichkeit, den Service in Form eines SaaS-Services über das Internet auf der Webseite www.orbnet.de zu nutzen.
        Der Kunde erhält hierbei auf seinem Rechner keine eigene Installation von Software oder Funktionalitäten. Die
        Nutzung des Dienstes erfolgt ausschließlich über den Browser des Kunden, welcher auf seiner Hardware installiert
        sein muss. Dem
        Kunden ist daher bewusst, dass orbnet nur einen reibungslosen Betrieb auf seinen Servern und bis zur Übergabe am
        Übergaberouter des Rechenzentrums zum Internet ermöglichen kann. Auf den weiteren Datenweg hat orbnet keinen
        Einfluss. Dieser liegt im Verantwortungsbereich des Kunden.</p>

      <h3 class="text-xl font-semibold mb-4">§ 1 Geltungsbereich, abweichende Geschäftsbedingungen</h3>
      <p class="text-justify my-4">Die nachstehenden allgemeinen Geschäftsbedingungen gelten zwischen orbnet und dem
        Kunden. Sie finden in der zum Zeitpunkt des Vertragsschlusses gültigen Fassung Anwendung für alle
        Vertragsschlüsse, die über die Registrierung auf der Webseite www.orbnet.de getätigt werden. Abweichende
        Allgemeine Geschäftsbedingungen des Kunden werden nicht Vertragsbestandteil. Das Vorstehende gilt dann nicht,
        wenn und soweit orbnet abweichenden Allgemeinen Geschäftsbedingungen des Kunden ausdrücklich zugestimmt hat.
        Zwischen dem Kunden und orbnet getroffene Individualvereinbarungen haben stets Vorrang vor diesen Allgemeinen
        Geschäftsbedingungen.</p>

      <h3 class="text-xl font-semibold mb-4">§ 2 Vertragsschluss ausschließlich mit Unternehmern, Definition des
        Verbraucher- und Unternehmerbegriffs</h3>
      <p class="text-justify my-4">Kunden von orbnet, welche über die von orbnet erbrachten Leistungen Verträge
        abschließen möchten, können nur Unternehmer im Sinne des § 14 BGB sein. orbnet schließt Verträge über die
        Leistungen, welche über die Webseite www.orbnet.de angeboten werden, ausschließlich mit Unternehmern im Sinne
        des § 14 BGB. Ein Vertragsschluss mit Verbrauchern ist ausgeschlossen. Die Leistungen von orbnet stehen
        ausschließlich Unternehmern zur Verfügung. Soweit in diesen Allgemeinen Geschäftsbedingungen der Begriff
        Verbraucher verwendet wird, sind damit natürliche Personen gemeint, die ein Rechtsgeschäft zu Zwecken
        abschließen, die überwiegend weder ihrer gewerblichen, noch ihrer selbstständigen beruflichen Tätigkeit
        zugerechnet werden können (§ 13 BGB). Soweit der Begriff Unternehmer verwendet wird, sind Unternehmer natürliche
        oder juristische Personen oder rechtsfähige Personengesellschaften, die bei Abschluss eines Rechtsgeschäfts in
        Ausübung ihre gewerblichen oder
        selbstständigen beruflichen Tätigkeit handeln (§ 14 BGB).</p>

      <h3 class="text-xl font-semibold mb-4">§ 3 Vertragsgegenstand</h3>
      <p class="text-justify my-4">orbnet erbringt für seine Kunden webbasierte Dienstleistungen im Rahmen eines
        SaaS-Services. Die Dienstleistungen werden ausschließlich über das Internet erbracht. orbnet ermöglicht dem
        Kunden die zeitlich befristete Nutzung seiner Softwaremodule und Funktionalitäten über das Internet mittels des
        Browsers des Kunden. Eine weitergehende Überlassung von Software durch orbnet erfolgt nicht. Der Kunde kann im
        Rahmen der Nutzung der von orbnet bereit gehaltenen Dienste Daten auf den Servern von orbnet speichern. orbnet
        ermöglicht hierbei dem Kunden die Nutzung seiner auf den Servern von orbnet installierten Software durch Zugriff
        über das Internet mittels des Browsers des Kunden. Hierbei stellt orbnet die Möglichkeit der Nutzung bis zum
        Übergabepunkt des Servers von orbnet zum Internetprovider von orbnet bereit. Sämtliche Software sowie die
        Hardware inklusive des Speicherplatzes stehen bei orbnet. Der Kunde ist für die Funktionsfähigkeit und die
        Geeignetheit
        seines Internetzuganges inklusive des Routings zum Übergabepunkt, seines EDV-Systems und seiner
        Softwareinstallationen zur Ermöglichung der Nutzung der Softwaremodule und Funktionalitäten von orbnet selbst
        verantwortlich. orbnet schuldet diesbezüglich keine Verfügbarkeit.</p>

      <h3 class="text-xl font-semibold mb-4">§ 4 Leistungsumfang, Verfügbarkeit</h3>
      <p class="text-justify my-4">Der Leistungsumfang ergibt sich aus der jeweiligen Produktbeschreibung. Die
        Verfügbarkeit der Software und der Funktionalitäten von orbnet über die Webseite www.orbnet.de beträgt 98 % pro
        Monat abzüglich der für das Einspielen von Updates, Upgrades und sonstigen Anpassungen oder Wartungsarbeiten
        notwendigen Zeit. Die vorgenannten Arbeiten werden nach Möglichkeit in einem Zeitraum zwischen 00:00 Uhr und
        02:00 Uhr vorgenommen und übersteigen in der Regel eine Dauer von 60 Minuten pro Unterbrechung nicht.</p>

      <h3 class="text-xl font-semibold mb-4">§ 5 Leistungsänderungen</h3>
      <p class="text-justify my-4">Der Umfang der von orbnet angebotenen Leistungen, der Benutzerkonten und deren
        technische Ausgestaltung ergeben sich aus dem gegenwärtigen technischen Stand des Dienstes und der
        Leistungsbeschreibung zum Zeitpunkt des Vertragsschlusses. orbnet behält sich das Recht vor, Funktionen zu
        erweitern, zu verändern oder einzuschränken, soweit dies dem technischen Fortschritt dient, notwendig ist, um
        Missbrauch zu verhindern, oder orbnet aufgrund von gesetzlichen Vorschriften dazu verpflichtet ist. Wird durch
        die Änderung des Funktionsumfangs die vertragsgemäße Nutzung des Dienstes durch den Kunden nicht nur
        unwesentlich beeinträchtigt, hat dieser ein Recht zur Gebührenanpassung oder Kündigung.</p>

      <h3 class="text-xl font-semibold mb-4">§ 6 Leistungen von Drittanbietern</h3>
      <p class="text-justify my-4">Im Rahmen des Angebots von orbnet hat der Kunde die Möglichkeit über orbnet
        Leistungen von Drittanbietern zu buchen. Diese Leistungen von Drittanbietern, welche als solche gekennzeichnet
        sind und von orbnet angeboten oder beworben werden, werden ausschließlich durch die Drittanbieter in einem
        gesonderten Vertragsverhältnis zwischen Kunde und Drittanbieter erbracht. orbnet wird für diese Leistungen kein
        Vertragspartner des Kunden. Der Vertragsschluss erfolgt alleinig zwischen dem Kunden und dem Drittanbieter. Es
        gelten für diese Vertragsbeziehung zwischen dem Kunden und dem Drittanbieter die Vertragsbedingungen des
        Drittanbieters. orbnet handelt hierbei weder als Erfüllungsgehilfe noch als Vertreter eines Drittanbieters oder
        des Kunden.</p>

      <h3 class="text-xl font-semibold mb-4">§ 7 7-tägiger Testzugang, Zusatzleistungen aus dem Tokenshop
        kostenpflichtig</h3>
      <p class="text-justify my-4">orbnet bietet dem Kunden zum Zwecke des unverbindlichen Kennenlernens und Austesten
        der Dienste von orbnet einen 7-tägigen Testzugang bei welchem die Grundgebühr für die Nutzung von Modulen
        entfällt. Dieser Testzugang ist für den Kunden hinsichtlich der Grundgebühr für Module kostenfrei.
        Zusatzleistungen, welche über den Tokenshop gebucht werden können, sind hiervon ausgenommen und unterliegen der
        jeweiligen aktuellen Preisliste. Nach Beendigung des Testzeitraums wird der Zugang zu den Funktionalitäten des
        Kundenaccounts auf my.orbnet.de in einen kostenfreien Account umgewandelt. Der Kunde kann sich in seinen
        Kundenaccount noch zum Zwecke eines entgeltlichen Vertragsschlusses oder um seine bis dahin eingegebenen Daten
        im ZIP Format zu entladen, einloggen. Sofern der Kunde keinen weiteren kostenpflichtigen Vertrag mit orbnet
        abschließt, werden die vom Kunden eingegebenen Daten innerhalb von 3 Monaten gelöscht. Der Kunde hat die
        Möglichkeit, nach
        Beendigung der Testphase, einen kostenpflichtigen Account einzurichten. Seine bis dahin eingegebenen Daten
        werden dann wieder für ihn freigeschaltet. Nach Beendigung der Testphase endet das Vertragsverhältnis
        automatisch, ohne dass es einer Kündigung durch den Kunden bedürfte.</p>

      <h3 class="text-xl font-semibold mb-4">§ 8 Elektronischer Vertragsschluss, Registrierung</h3>
      <p class="text-justify my-4">Das Angebot von orbnet zur Nutzung von Software und Funktionalitäten auf dem
        Internetportal von orbnet stellt kein verbindliches Angebot im Rechtsinne dar, sondern ist lediglich eine
        Aufforderung an den Kunden, ein eigenes Angebot zum Abschluss eines Vertrages abzugeben (sogenannte invitatio ad
        offerendum). Sofern sich aus dem jeweiligen Angebot von orbnet selbst nichts anderes ergibt, sind die Angebote
        stets freibleibend. Änderungen und Irrtümer bleiben vorbehalten. Der Kunde muss sich vor Abgabe eines Angebots
        auf Abschluss eines Vertrages mit seinen persönlichen Daten registrieren. Dies führt noch zu keinem
        Vertragsschluss. Die Registrierung erfolgt durch Eingabe von Vor- und Nachnamen, Angabe einer E-Mail-Adresse
        sowie Auswahl eines Passworts. Nach Bestätigung und Absenden der Registrierungsdaten erhält der Kunde einen Link
        an seine eingegebene E-Mail-Adresse. Durch Klicken auf diesen Registrierungslink wird die Registrierung
        abgeschlossen. Das
        Angebot des Kunden auf Abschluss eines Vertrages wird mit Freischaltung des Kundenzugangs durch orbnet
        angenommen. orbnet hat zwei Werktage Zeit das Angebot des Kunden anzunehmen. orbnet steht es jederzeit frei
        Verträge mit Kunden abzuschließen oder auch nicht. Ein Anspruch auf Abschluss eines Vertrages mit orbnet besteht
        nicht. Der Kunde schließt zunächst einen Vertrag über den 30-tägigen Testzeitraum mit orbnet ab. Nach Ablauf des
        30-tägigen Testzeitraums kann sich der Kunde für von orbnet angebotene Module entscheiden und einen Vertrag zu
        den im jeweiligen Modul genannten Konditionen und Laufzeiten entscheiden. Der jeweilige Leistungsumfang dieser
        Module, sowie die Höhe der durch den Kunden zu zahlenden Vergütung ergeben sich aus der jeweiligen Angebots- und
        Leistungsbeschreibung sowie der Preisliste von orbnet. Der Kunde kann sich im Rahmen seiner Modulauswahl für
        einen Leistungszeitraum entscheiden. Dieser Leistungszeitraum stellt zugleich die jeweilige
        Mindestvertragsdauer mit orbnet dar. Die Entsperrung und Freischaltung des Kundenaccounts erfolgt nach Eingang
        des vollständigen Zahlbetrags auf das von orbnet genannte Konto oder den Paypal-Konto von orbnet</p>

      <h3 class="text-xl font-semibold mb-4">§ 9 Preis, Preisanpassung für die Zukunft, Fälligkeit,
        Zahlungsmöglichkeiten</h3>
      <p class="text-justify my-4">Die Preise für die Nutzung der Funktionalitäten von orbnet nach dem 7-tägigen
        Testzeitraum ergeben sich aus der jeweils gültigen Preisliste von orbnet. Diese ist unter www.orbnet.de
        einsehbar. Es handelt sich bei sämtlichen Preisen um Nettopreise zzgl. der jeweiligen gesetzlich gültigen
        Umsatzsteuer. orbnet behält sich vor, die Höhe der Vergütung jederzeit für die Zukunft ändern zu dürfen. Eine
        Änderung erfolgt hierbei bei laufenden Verträgen erst nach Ende der jeweiligen gewählten Vertragslaufzeit und
        dem Hinweis an den Kunden, dass sich der Preis geändert hat. Der Kunde hat daraufhin die Möglichkeit, seinen
        Vertrag zu kündigen. Die Preisänderung orientiert sich hierbei an einer Änderung des Leistungsumfanges, dem
        Nutzen für den Kunden, dem allgemeinen Preisindex sowie der Zumutbarkeit für den Kunden. Die Zahlung wird
        jeweils zu Beginn des bei Vertragsschluss gewählten Vertragszeitraums fällig. Der Kunde kann den Preis mittels
        der auf der Angebotsseite
        von orbnet aufgeführten Zahlungsmöglichkeiten entrichten. Bei fehlerhaften Abbuchungen (z.B. mangels
        Kontodeckung) wird eine zusätzliche Bearbeitungsgebühr fällig. Der Kunde kann zum Erwerb von Zusatzleistungen
        zudem Credits erwerben und diese gegen die Nutzung von Zusatzfunktionalitäten einlösen. Die jeweils aktuelle
        Preisliste ist unter www.orbnet.de abrufbar.</p>

      <h3 class="text-xl font-semibold mb-4">§ 10 Rechnungen</h3>
      <p class="text-justify my-4">Die Rechnungen werden dem Kunden am Tag der Buchung elektronisch per E-Mail im
        PDF-Format zur Verfügung gestellt. Zudem kann der Kunde seine Rechnungen unter der Funktion „Mein Konto /
        Rechnungen“ in seinem Benutzeraccount einsehen.</p>

      <h3 class="text-xl font-semibold mb-4">§ 11 Vertragsbeginn, Vertragslaufzeit, automatische Vertragsverlängerung,
        Kündigung, Form der Kündigung</h3>
      <p class="text-justify my-4">Die Vertragslaufzeit zwischen orbnet und dem Kunden bestimmt sich anhand des vom
        Kunden vorher ausgewählten Tarifs. Dies können je nach Wahl des Kunden 1 bis 12 Monate sein. Vertragsbeginn für
        den Beginn der Vertragslaufzeit ist hierbei der Eingang der Vergütung bei orbnet. orbnet wird dies dem Kunden
        mitteilen. Der Vertrag verlängert sich nach Ablauf dieses Zeitraums um denselben Zeitraum, sofern er nicht zuvor
        vom Kunden oder von orbnet mit einer Frist von sieben Tagen zum Ende des jeweiligen Zeitraums gekündigt wird.
        Eine Kündigung kann innerhalb der Software unter folgendem Link durchgeführt werden (<a
          href="https://my.orbnet.de/account/delete/">KÜNDIGUNG)</a>. Eine ordentliche Kündigung vor Ablauf des
        Vertragszeitraums berechtigt nicht zu einer Rückforderung der im Voraus bezahlten Vergütung. Das Recht zur
        außerordentlichen Kündigung bei Vorliegen eines wichtigen Grundes bleibt beiden Parteien unbenommen. Eine
        außerordentliche Kündigung durch orbnet
        ist insbesondere dann zulässig, wenn der Kunde über einen Zeitraum von zwei Monaten mit seinen Zahlungspflichten
        säumig bleibt. Soweit erforderlich, hat der außerordentlichen Kündigung eine Abmahnung des beanstandeten
        Verhaltens vorher zu gehen.</p>

      <h3 class="text-xl font-semibold mb-4">§ 12 Kündigungsfolgen, Sperrung des Kundenaccounts, Löschung der
        Kundendaten</h3>
      <p class="text-justify my-4">Nach Vertragsende sperrt orbnet automatisch den Kundenaccount. Der Kunde wird von
        orbnet auf diese Folge der Kündigung hingewiesen. Der Kunde hat jederzeit die Möglichkeit, seine Daten zu
        exportieren. Wenn ein Kundenaccount seitens des Kunden zur Löschung vorgemerkt wird, hat dieser 7 Tage Zeit, um
        die Löschung zu revidieren. Nach dieser Frist werden sämtliche Daten zur Löschung freigegeben und können nicht
        wiederhergestellt werden.</p>

      <h3 class="text-xl font-semibold mb-4">§ 13 Nutzungsrechte</h3>
      <p class="text-justify my-4">orbnet räumt dem Kunden für die Laufzeit des Vertrages ein einfaches, nicht
        übertragbares und zeitlich auf die Laufzeit des Vertrages beschränktes Recht ein, die Funktionalitäten von
        orbnet über die im Browser dargestellte Benutzeroberfläche zu vertragsgemäßen Zwecken zu nutzen. Eine
        entgeltliche oder unentgeltliche Überlassung an Dritte ist nicht gestattet. Als Dritte gelten auch mit dem
        Kunden konzernverbundene Unternehmen. Eine Nutzung des Dienstes orbnet darf nur über die im Browser zur
        Verfügung gestellte Eingabemaske genutzt werden.</p>

      <h3 class="text-xl font-semibold mb-4">§ 14 Nutzungsregeln</h3>
      <p class="text-justify my-4">Der Kunde unterlässt sämtliche Handlungen, die geeignet sind, die Funktionalität der
        Dienste von orbnet, der Server, der auf den Servern laufenden Software sowie der Infrastruktur von orbnet zu
        beeinträchtigen, z. B. Skripte, Robots, Crawler zu benutzen. Insbesondere ist eine übermäßige Belastung
        untersagt, die über einer angemessenen, bei normaler Benutzung der Dienste zu erwartenden Nutzungsintensität und
        Häufigkeit liegt (z. B. Software, die wegen technischer Fehler permanent unnötige Zugriffe über die
        Schnittstellen generiert).</p>

      <h3 class="text-xl font-semibold mb-4">§ 15 Mitwirkungspflichten des Kunden, Datensicherungspflicht des
        Kunden</h3>
      <p class="text-justify my-4">Dem Kunden obliegt die Verpflichtung seine bei orbnet eingegebenen, übermittelten und
        gespeicherten Daten selbst zu sichern. Der Kunde ist zusätzlich verpflichtet die Datenentladungsfunktion von
        orbnet regelmäßig mit der Sorgfalt eines ordentlichen Kaufmanns zu nutzen. Der Kunde trägt die Verantwortung die
        erforderliche Hardware, Software und Netzanbindung für die Nutzung der Software und Funktionalitäten von orbnet
        bereitzustellen. Der Kunde wird die Software ausschließlich vertragsgemäß nutzen und orbnet bei der Erbringung
        seiner vertraglich geschuldeten Leistungen in angemessenem Umfang unterstützen. Der Kunde verpflichtet sich die
        Software und die Funktionalitäten von orbnet ausschließlich im Rahmen der Gesetze zu nutzen. Der Kunde
        versichert und gewährleistet, dass alle von ihm übermittelten Daten zu seiner Person und seinem Unternehmen der
        Wahrheit entsprechen, sowie dass alle übermittelten Daten und Inhalte rechtlich zulässig und frei von Rechten
        Dritter sind. Die Nutzung von Pseudonymen ist nicht zulässig. Dem Kunden ist es untersagt, sich als andere
        Person oder Unternehmen auszugeben oder sonst über seine Identität zu täuschen. Die Adress- und Kontaktdaten des
        Kunden sind stets auf dem aktuellen Stand zu halten. Nachteile, die für den Kunden aufgrund unrichtiger Angaben
        entstehen, gehen zu seinen eigenen Lasten. Nachteile, die aufgrund unrichtiger Angaben für orbnet entstehen,
        gehen zu Lasten der Kunden, wenn die Falschangaben in deren Verantwortungsbereich liegen. Dem Kunden obliegt es,
        bei der Benutzung und der Verwaltung seiner Zugangsdaten größtmögliche Sorgfalt walten zu lassen und jedwede
        Maßnahmen zu ergreifen, welche den vertraulichen, sicheren Umgang mit den Daten gewährleisten und deren
        Bekanntgabe an Dritte verhindern. Der Kunde ist für den Missbrauch seiner Zugangsdaten verantwortlich, falls er
        nicht nachweisen kann, dass dieser nicht auf seinem Verschulden beruht. Der Kunde ist verpflichtet, orbnet
        umgehend zu informieren, wenn Anlass zu der Vermutung besteht, dass ein Dritter Kenntnis von Zugangsdaten hat
        und/oder ein Kundenkonto missbraucht. Soweit orbnet auf Grund der Verwendung von unzulässigen Inhalten, oder
        einer gesetzeswidrigen Nutzung der Software und Funktionalitäten von orbnet oder sonstiger Gesetzesverstöße in
        Anspruch genommen wird, die von dem Kunden zu vertreten sind, stellt der Kunde orbnet auf erstes Anfordern frei
        und unterstützt orbnet bei der Abwehr dieser Ansprüche. Die Freistellung umfasst auch sämtliche Kosten der
        Rechtsverfolgung</p>

      <h3 class="text-xl font-semibold mb-4">§ 16 Gewährleistung, Rügeobliegenheit, Einschränkungen</h3>
      <p class="text-justify my-4">Die Gewährleistung richtet sich nach den gesetzlichen Regelungen mit den in Absatz 2
        und Absatz 3 sowie § 17 Haftung vorgenommenen Einschränkungen. Der Kunde wird ausdrücklich auf § 536 b und § 536
        c BGB hingewiesen. Beide Paragraphen und die daraus resultierenden Verpflichtungen finden Anwendung. Der Kunde
        hat Mängel unverzüglich, spätestens innerhalb von sieben Werktagen bei orbnet anzuzeigen und zu rügen. Diese
        Rüge kann über die Feedbackfunktion von orbnet oder per E-Mail an support@orbnet.de erfolgen. Die Anwendung des
        § 536 a II BGB (Selbstbeseitigungsrecht des Mieters) ist ausgeschlossen. Die verschuldensunabhängige Haftung von
        orbnet nach § 536 a I BGB für bereits zum Zeitpunkt des Vertragsschlusses vorhandene Fehler der Software wird
        ausdrücklich ausgeschlossen. orbnet ist es gestattet bei Vorliegen von Mängeln dem Kunden zumutbare
        Umgehungslösungen und alternative Lösungen mit den wesentlich gleichen Funktionalitäten zu liefern.</p>

      <h3 class="text-xl font-semibold mb-4">§ 17
        Haftung, Beschränkung und Ausschluss der Haftung, Datenverlust</h3>
      <p class="text-justify my-4">Die verschuldensunabhängige Haftung von orbnet nach § 536 a I BGB für bereits zum
        Zeitpunkt des Vertragsschlusses vorhandene Fehler der Software wird ausdrücklich ausgeschlossen. orbnet haftet
        für Schäden die vorsätzlich oder grob fahrlässig verursacht wurden. Bei einfacher Fahrlässigkeit haftet orbnet
        nur für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit sowie für Schäden aus der
        Verletzung einer wesentlichen Vertragspflicht. Wesentliche Vertragspflichten sind solche Verpflichtungen, deren
        Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung der
        Vertragspartner regelmäßig vertraut und vertrauen darf, und deren Verletzung auf der anderen Seite die
        Erreichung des Vertragszwecks gefährdet. Bei Verletzung einer wesentlichen Vertragspflicht ist die Haftung,
        soweit der Schaden lediglich auf leichter Fahrlässigkeit beruht, beschränkt auf solche Schäden, mit deren
        Entstehung beim
        Einsatz der vertragsgegenständlichen Software typischer Weise gerechnet werden muss. Die Haftungsbeschränkungen
        nach den Absätzen 2, 3, 4 und 5 gelten nicht, soweit orbnet einen Mangel arglistig verschwiegen oder seine
        Abwesenheit zugesichert hat. Die Haftungsbeschränkungen gelten ebenfalls nicht für Ansprüche nach dem
        Produkthaftungsgesetz und Garantien. Im Übrigen ist die Haftung gleich aus welchem Rechtsgrund unter den
        Einschränkungen des Absatz 6 ausgeschlossen. Obige Haftungssauschlüsse und Beschränkungen gelten in gleicher
        Weise für Organe, Mitarbeiter und Erfüllungsgehilfen von orbnet. Bei Schäden des Kunden, die aus einem Verlust
        von Daten resultieren, haftet orbnet hierfür nicht, soweit die Schäden durch eine regelmäßige und vollständige
        Sicherung aller relevanten Daten durch den Kunden vermieden worden wären. Der Kunde wird eine regelmäßige und
        vollständige Datensicherung selbst oder durch einen Dritten durchführen bzw. durchführen lassen und ist hierfür
        alleinig
        verantwortlich.</p>

      <h3 class="text-xl font-semibold mb-4">§ 18 Anwendbares Recht, Vertragssprache, Gerichtsstand</h3>
      <p class="text-justify my-4">Es gilt das Recht der Bundesrepublik Deutschland. UN-Kaufrecht (CISG) gilt nicht. Die
        Vertragssprache ist deutsch. Sofern der Besteller Kaufmann, juristische Person des öffentlichen Rechts oder
        öffentlich rechtliches Sondervermögen ist, ist der Gerichtsstand für alle Streitigkeiten aus diesem
        Vertragsverhältnis Augsburg, sofern nicht ein ausschließlicher Gerichtsstand gegeben ist. orbnet ist jedoch auch
        berechtigt, den Kaufmann am Gericht seines Wohnortes oder Unternehmenssitzes einschließlich seiner
        Niederlassungen zu verklagen.</p>

      <h3 class="text-xl font-semibold mb-4">§ 19 Salvatorische Klausel</h3>
      <p class="text-justify my-4">Sollten einzelne Klauseln dieser Geschäftsbedingungen ganz oder teilweise unwirksam
        sein, so bleibt die Wirksamkeit der übrigen Klauseln unberührt.</p>
    </div>
  </Section>
</Layout>
