---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import chris from '../assets/team/chris-team-orbnet-Medium.jpg';
import gregor from '../assets/team/ueber-uns-gregor.jpg';
---
<Layout
  title="Über uns"
  description="Die Geschichte von orbnet"
  canonical={new URL('ueber-uns/', Astro.site)}
  breadcrumbs={[{ slug: '', title: 'Start' }, { slug: 'ueber-uns/', title: 'Über uns' }]}
>
  <section class="pt-32 pb-24 text-dark dark:text-white">
    <div class="container max-w-screen-xl text-center">
      <h1 class="text-4xl font-bold mb-8">Über uns</h1>
      <h2 class="text-2xl font-semibold mb-16">Unsere Reise bisher...</h2>

      <p class="mb-4 text-justify">
        orbnet wurde im Jahr 2015 von Christian und Gregor ins Leben gerufen. Die beiden Gründer hatten
        die Vision, eine benutzerfreundliche Abrechnungssoftware für Dienstleister zu entwickeln, die
        den täglichen Verwaltungsaufwand erheblich reduzieren und die Effizienz steigern soll. Die
        Gründung des Unternehmens erfolgte als "orbnet UG" und markierte den Beginn einer Reise, die
        sich von einer einfachen Geschäftsidee zu einer breiten Anwendung für diverse Berufsgruppen
        entwickeln würde.
      </p>

      <p class="mb-4 text-justify">
        Im Jahr 2016 begannen die Gründer mit der Entwicklung der ersten Version von orbnet. Diese Initial
        version war speziell auf die Bedürfnisse von Unternehmern zugeschnitten. Der Fokus lag darauf, die
        alltäglichen administrativen Aufgaben zu vereinfachen und eine solide Basis zu schaffen, auf der
        zukünftige Funktionen aufgebaut werden konnten.
      </p>

      <p class="mb-4 text-justify">
        Der erste große Meilenstein für das Unternehmen kam 2017, als die erste Version von orbnet
        erfolgreich verkauft wurde. Zu diesem Zeitpunkt richtete sich die Software in erster Linie an
        Kleinunternehmer und Solo-Selbstständige. Diese frühen Anwender schätzten die Einfachheit und
        Effektivität der Software, was das Fundament für das zukünftige Wachstum des Unternehmens legte.
      </p>

      <p class="mb-4 text-justify">
        Bereits 2018, im dritten Jahr nach der Gründung, hatte orbnet die Grenze von 200 aktiven Kunden
        überschritten. Diese Kunden waren von den vorhandenen Funktionen begeistert, was das Management
        dazu veranlasste, die Software kontinuierlich zu verbessern. In diesem Jahr wurde der USP
        (Unique Selling Point) der Software um eine Online-Terminvereinbarungsfunktion erweitert.
        Diese neue Funktion ermöglichte es den Kunden, Termine effizienter zu planen und zu verwalten,
        was die Attraktivität der Software weiter steigerte.
      </p>

      <p class="mb-4 text-justify">
        Das Jahr 2019 war ein weiteres bedeutsames Jahr für orbnet. Die Software gewann rasch an Popularität,
        und die Anzahl aktiven Nutzer überschritt die Marke von 1000. Diese Nutzerbasis bestand hauptsächlich
        aus Coaches, Beratern und anderen Dienstleistern, die orbnet in ihren täglichen Arbeitsabläufen
        integriert hatten. In diesem Jahr intensivierte das Unternehmen auch seine Netzwerkaktivitäten und
        konnte zahlreiche Coaching-Verbände sowie Partner gewinnen. Diese Erweiterung des Netzwerks trug dazu
        bei, die Reichweite und Akzeptanz der Software auf dem Markt weiter zu erhöhen.
        Die internationalen Ambitionen des Unternehmens manifestierten sich im Jahr 2020, als orbnet eine
        Tochtergesellschaft in Bangkok, Thailand, gründete. Dieser markierte den Beginn der globalen Expansion
        des Unternehmens. Der internationale Ableger sollte nicht nur die Präsenz von orbnet in Asien stärken,
        sondern auch als Testmarkt für neue Funktionen und Anpassungen dienen, bevor diese global ausgerollt
        werden würden.
      </p>

      <p class="mb-4 text-justify">
        2021 stand ganz im Zeichen der Modernisierung und Neugestaltung der Software. orbnet erhielt ein
        vollständiges Redesign der Benutzeroberfläche (UI) sowie der Nutzererfahrung (UX). Dieses Update
        umfasste nicht nur ästhetische Verbesserungen, sondern auch optimierte Workflows und zahlreiche
        neue Funktionen, die den Anwenderkomfort weiter erhöhten. Die Überarbeitung der Software war ein
        wichtiger Schritt, um den Anforderungen und Erwartungen der wachsenden Nutzerbasis gerecht zu
        werden und sicherzustellen, dass orbnet weiterhin als führende Lösung in seinem Marktsegment
        wahrgenommen wird.
      </p>

      <p class="mb-4 text-justify">
        Im Jahr 2022 setzte orbnet seine Innovationsstrategie fort und fügte der Software mehrere neue
        Funktionen hinzu. Diese ständigen Verbesserungen und Erweiterungen spiegelten das Engagement des
        Unternehmens wider, seinen Kunden stets die beste und aktuellste Lösung zur Verfügung zu stellen
        und deren sich wandelnde Bedürfnisse zu erfüllen.
      </p>

      <p class="mb-4 text-justify">
        Ein bedeutender Fortschritt wurde 2023 erreicht, als die Buchungsmaske der Software umfassend
        erneuert wurde. Diese Überarbeitung führte zu einer noch benutzerfreundlicheren Oberfläche und
        unterstützte den Verkauf von Dienstleistungen. Durch diese Verbesserung konnten die Nutzer von
        orbnet ihre Angebote effektiver präsentieren und vermarkten, was wiederum zu einem Anstieg der
        Kundenzufriedenheit und Nutzerzahlen führte.
      </p>

      <p class="mb-4 text-justify">
        Insgesamt zeigt die Entwicklung von orbnet von 2015 bis 2023 eine bemerkenswerte Reise eines
        Unternehmens, das aus einer einfachen Idee hervorging und sich kontinuierlich weiterentwickelte,
        um den sich wandelnden Bedürfnissen seiner Kunden gerecht zu werden. Die schrittweise Einführung
        neuer Funktionen, die Verbesserung der Benutzeroberfläche und die strategische Erweiterung des
        Netzwerks sowie die Internationalisierung sind Zeugnisse des Engagements und der Weitsicht der
        Gründer. orbnet steht heute als ein umfassendes Werkzeug für Dienstleister da, das weit mehr
        bietet als nur eine Abrechnungssoftware - es ist eine Plattform, die Arbeitsprozesse optimiert
        und die Effizienz steigert.
      </p>

      <p class="mb-4 text-justify">
        Diese beeindruckende Entwicklung wäre ohne das Vertrauen und das Feedback der Nutzerbasis nicht
        möglich gewesen. Jede neue Funktion und jede Verbesserung basieren auf echten Bedürfnissen und
        Herausforderungen, die von den Anwendern geäußert wurden. Die Erfolgsgeschichte von orbnet
        unterstreicht die Bedeutung von Kundenorientierung und kontinuierlicher Innovation in der
        Softwareentwicklung.
      </p>

      <p class="mb-4 text-justify">
        Mit Blick auf die Zukunft hat orbnet das Potenzial, seine Marktpräsenz weiter auszubauen und neue
        Funktionen zu entwickeln, die noch mehr Dienstleister unterstützen können. Die bisherigen Erfolge
        legen den Grundstein für zukünftiges Wachstum und Innovation, während die starke Kundenbasis und
        das erweiterte Netzwerk weiterhin als solide Säulen für das Unternehmen dienen. orbnet bleibt somit
        eine inspirierende Erfolgsgeschichte, die zeigt, wie Vision und Engagement ein Startup in eine
        führende Marktposition katapultieren können.
      </p>

      <hr class="my-16" />

      <h2 class="text-2xl font-semibold mb-8">Zeitlinie</h2>
      <div class="flow-root">
        <ul role="list">
          <li class="relative pb-16">
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-dark-3" aria-hidden="true"></span>
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 dark:bg-dark-3 ring-8 ring-white dark:ring-dark"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">Gründung</p>
                  <div class="whitespace-nowrap text-right">
                    2015
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  Christian und Gregor gründen "orbnet UG" mit der Vision eine einfache Abrechnungssoftware für Dienstleister zu schaffen.
                </div>
              </div>
            </div>
          </li>
          <li class="relative pb-16">
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-dark-3" aria-hidden="true"></span>
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 dark:bg-dark-3 ring-8 ring-white dark:ring-dark"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">Entwicklung</p>
                  <div class="whitespace-nowrap text-right">
                    2016
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  Entwicklung einer ersten Version von orbnet, damals für die sehr spitze Positionierung "Unternehmer".
                </div>
              </div>
            </div>
          </li>
          <li class="relative pb-16">
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-dark-3" aria-hidden="true"></span>
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 dark:bg-dark-3 ring-8 ring-white dark:ring-dark"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">Erster Verkauf</p>
                  <div class="whitespace-nowrap text-right">
                    2017
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  Verkauf der ersten Version von orbnet, damals noch an Kleinunternehmer und Solo-Selbstständige.
                </div>
              </div>
            </div>
          </li>
          <li class="relative pb-16">
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-dark-3" aria-hidden="true"></span>
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 dark:bg-dark-3 ring-8 ring-white dark:ring-dark"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">USP</p>
                  <div class="whitespace-nowrap text-right">
                    2018
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  Die ersten 200 Kunden sind von den damaligen Funktionen von orbnet begeistert. Neuer USP: Online-Terminvereinbarung
                </div>
              </div>
            </div>
          </li>
          <li class="relative pb-16">
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-dark-3" aria-hidden="true"></span>
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 dark:bg-dark-3 ring-8 ring-white dark:ring-dark"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">Wachstum</p>
                  <div class="whitespace-nowrap text-right">
                    2019
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  Über 1000 Coaches, Berater und Dienstleister nutzen orbnet aktiv. Das Netzwerk wird um zahlreiche Coaching-Verbände und Kooperationspartner erweitert.
                </div>
              </div>
            </div>
          </li>
          <li class="relative pb-16">
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-dark-3" aria-hidden="true"></span>
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 dark:bg-dark-3 ring-8 ring-white dark:ring-dark"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">Internationalisierung</p>
                  <div class="whitespace-nowrap text-right">
                    2020
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  Eine Tochtergesellschaft in Thailand / Bangkok wird gegründet für einen internationalen Ableger von "orbnet".
                </div>
              </div>
            </div>
          </li>
          <li class="relative pb-16">
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 ring-8 ring-white"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">ReDesign</p>
                  <div class="whitespace-nowrap text-right">
                    2021
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  orbnet bekommt ein komplett neues UI/UX, neue Workflows und Funktionen spendiert.
                </div>
              </div>
            </div>
          </li>
          <li class="relative pb-16">
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 ring-8 ring-white"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">Funktionsupdates</p>
                  <div class="whitespace-nowrap text-right">
                    2022
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  orbnet erhält mehrere neue Funktionen.
                </div>
              </div>
            </div>
          </li>
          <li class="relative pb-16">
            <!--<span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>-->
            <div class="relative flex space-x-4">
              <span class="flex h-4 w-4 ml-2 items-center justify-center rounded-full bg-gray-200 ring-8 ring-white"></span>
              <div class="flex flex-col flex-1 -mt-1.5">
                <div class="flex min-w-0 flex-1 justify-between space-x-4 text-lg text-primary dark:text-primary-400">
                  <p class="">Events und Dienstleistungen</p>
                  <div class="whitespace-nowrap text-right">
                    2023
                  </div>
                </div>
                <div class="mt-4 pr-16 text-left">
                  Die Buchungsmaske und wurde komplett erneuert und der verkauf von Dienstleistungen unterstützt.
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="py-24 bg-gray-100 dark:bg-dark text-dark dark:text-white">
    <div class="container max-w-screen-xl">
      <div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-20 xl:grid-cols-5">
        <div class="xl:col-span-2">
          <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Über die Gründer</h2>
          <p class="mt-6 text-lg leading-8">
            Diese Menschen möchten Coaching-Software eine neue Bedeutung geben.
          </p>
        </div>
        <ul role="list" class="-mt-12 space-y-12 divide-y divide-gray-200 xl:col-span-3">
          <li class="flex flex-col gap-10 pt-12 sm:flex-row">
            <Image src={chris} alt="Christian Schmidt" width="300" height="300" class="aspect-[4/5] w-52 object-cover rounded-2xl" />
            <div class="max-w-xl flex-auto">
              <h3 class="text-lg font-semibold leading-8 tracking-tight">Christian Schmidt</h3>
              <p class="text-base leading-7 text-gray-600 dark:text-gray-500">Co-Founder / CTO</p>
              <p class="mt-6 text-base leading-7 text-gray-600 dark:text-gray-500">
                Entwickler aus Leidenschaft.
              </p>
            </div>
          </li>
          <li class="flex flex-col gap-10 pt-12 sm:flex-row">
            <Image src={gregor} alt="Gregor Duda" width="300" height="300" class="aspect-[4/5] w-52 object-cover rounded-2xl" />
            <div class="max-w-xl flex-auto">
              <h3 class="text-lg font-semibold leading-8 tracking-tight">Gregor Duda</h3>
              <p class="text-base leading-7 text-gray-600 dark:text-gray-500">Co-Founder / CEO</p>
              <p class="mt-6 text-base leading-7 text-gray-600 dark:text-gray-500">
                Marketing und UI/UX.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
