---
import { storyblokEditable } from '@storyblok/astro';
import type { SbBlokData } from '@storyblok/astro';

interface Props {
  blok: SbBlokData,
}

const { blok } = Astro.props;
---
<h2 id={blok._uid} class="text-2xl font-semibold text-dark dark:text-white pt-8 pb-0 target:before:content-[''] target:before:block target:before:h-[120px] target:before:-mt-[50px]" {...storyblokEditable(blok)}>
  {blok.Text}
</h2>
