---
import { storyblokEditable } from '@storyblok/astro';
import type { SbBlokData } from '@storyblok/astro';
import { getAnchorFromText } from '../../utils/all';

interface Props {
  blok: SbBlokData,
}

const { blok } = Astro.props;
---
<h4 id={getAnchorFromText(String(blok.Text))} {...storyblokEditable(blok)}>
  {blok.Text}
</h4>
