---
import { storyblokEditable, type ISbRichtext, type SbRichTextOptions } from '@storyblok/astro';
import RichTextRenderer from '@storyblok/astro/RichTextRenderer.astro';
import type { SbBlokData } from '@storyblok/astro';
import BlogSchema from '../../content/blog/Schema';

interface RichText extends SbBlokData {
  Text: ISbRichtext;
}

interface Props {
  blok: RichText,
}

const options: SbRichTextOptions = {
  schema: BlogSchema,
};

const { blok } = Astro.props;

// console.dir(blok.Text, {depth: null});
---
<div class="py-4 text-dark dark:text-white" {...storyblokEditable(blok)}>
  <RichTextRenderer richTextData={blok.Text} richTextOptions={options}/>
</div>
