---

---
<div id="cookie-banner" class="hidden fixed left-4 bottom-4 right-4 z-50 bg-white text-dark dark:bg-gray-500 dark:text-white shadow-xl border border-gray-300 dark:border-gray-700 rounded-md p-4 text-xs transition duration-500">
  <b class="font-semibold">Wir nutzen Cookies</b>
  <p class="inline-block my-4">
    Wir verwenden Cookies und andere Technologien auf unserer Webseite.
    Einige von ihnen sind essenziell, während andere uns helfen, diese Webseite und Ihre Erfahrung zu verbessern.
    Weitere Informationen über die Verwendung Ihrer Daten finden Sie in unserer Datenschutzerklärung.
  </p>
  <div class="text-right">
    <button id="cb-deny" class="bg-gray-500 text-white px-4 py-2 rounded-md">Alle ablehnen</button>
    <button id="cb-accept" class="bg-primary text-white px-4 py-2 rounded-md">Alle akzeptieren</button>
  </div>
</div>
