<!-- ====== CTA Section Start -->
<div class="absolute -top-24 h-72 left-0 right-0 items-center justify-center max-w-screen-xl mx-auto">
  <div class="container overflow-hidden">
    <div class="relative">
      <div class="container bg-primary py-12 rounded-3xl">
        <div class="flex flex-wrap items-stretch -mx-4">
          <div class="w-full px-4">
            <div class="mx-auto max-w-[570px] text-center">
              <slot name="title" />
              <slot name="subline" />
              <slot name="button" />
              <slot name="infoline" />
            </div>
          </div>
        </div>
      </div>
      <span class="absolute top-0 left-0">
      <svg width="285" height="294" viewBox="0 0 285 294" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.1" x="-81" y="0.488281" width="269.73" height="224.63" rx="20" fill="white" />
          <rect opacity="0.1" x="209.545" y="180.886" width="75.455" height="63.3128" rx="10" fill="white" />
          <rect opacity="0.1" x="134.09" y="244.199" width="75.455" height="63.3128" rx="10" fill="white" />
      </svg>
    </span>
      <span class="absolute bottom-0 right-0">
      <svg width="410" height="277" viewBox="0 0 410 277" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.1" y="0.858643" width="213.646" height="215.309" rx="14" fill="white" />
          <rect opacity="0.1" x="255.211" y="182.915" width="72.3237" height="60.6854" rx="10" fill="white" />
          <rect opacity="0.1" x="161.274" y="234.456" width="72.3237" height="60.6854" rx="10" fill="white" />
          <rect opacity="0.1" x="368.269" y="69.0259" width="178.731" height="100.588" rx="14" fill="white" />
      </svg>
    </span>
    </div>
  </div>
</div>
<!-- ====== CTA Section End -->
