---
import { Picture } from 'astro:assets';

import orbnetDashboard from '../assets/hero/screen-dashboard.png';
import orbnetEvents from '../assets/hero/screen-events.png';
import orbnetAccounting from '../assets/hero/screen-buchhaltung.png';
---
<section id="start" class="relative pb-12">
  <div class="w-full bg-gradient-to-t from-primary-900 from-10% to-80% bg-primary dark:from-dark dark:bg-dark-3">
    <div class="flex flex-wrap max-w-screen-xl mx-auto items-center text-center h-[100lvh] w-full">
      <div class="pt-[80px] px-6 lg:pt-0 xl:mb-20 w-full text-white">
        <h1 class="text-white">
          WIR GEHEN ALL-IN
          <br>
          Softwarelösung für <span class="block text-warning">Dienstleister, Berater und Coaches</span>
        </h1>

        <h2 class="text-lg text-white py-6 lg:py-9">
          Schluss mit tausend Tool-Lösungen und Zeitfresser-Aufgaben. Alles, was du brauchst, findest du bei orbnet!
        </h2>

        <a
          href="https://my.orbnet.de/account/register/"
          class="w-full lg:w-2/5 tracking-wide text-lg font-semibold text-dark items-center bg-white hover:bg-white/[0.95] dark:bg-primary dark:text-white inline-flex justify-center px-7 py-6 lg:py-4 rounded-lg shadow-md text-center transition duration-500 hover:shadow-xl">
          Jetzt testen
        </a>
      </div>
    </div>
  </div>
  <div class="hidden md:block landscape:md:hidden landscape:lg:block container px-6 relative mb-[90px] md:mb-[190px] lg:mb-[350px]">
    <Picture
      loading="eager"
      src={orbnetDashboard}
      widths={[1000, 600]}
      sizes="(max-width: 1024px) 600px, 1000px"
      alt="orbnet dashboard"
      formats={['avif', 'webp']}
      class="rounded-2xl shadow-2xl absolute z-30 left-[50%] w-[300px] md:w-[600px] lg:w-[800px] xl:w-[1000px] -ml-[150px] md:-ml-[300px] lg:-ml-[400px] xl:-ml-[500px] -mt-[40px] md:-mt-[120px] md:landscape:-mt-[40px] md:portrait:-mt-[120px] lg:landscape:-mt-[100px] xl:landscape:-mt-[150px] transition duration-500 hover:-translate-y-1.5"
    />
    <Picture
      loading="lazy"
      src={orbnetAccounting}
      widths={[800, 420]}
      sizes="(max-width: 1024px) 420px, 800px"
      alt="orbnet dashboard"
      formats={['avif', 'webp']}
      class="rounded-2xl shadow-lg absolute z-20 left-0 w-[200px] md:w-[400px] lg:w-[600px} xl:w-[800px] -mt-[20px] md:-mt-[90px] md:portrait:-mt-[80px] md:landscape:-mt-[20px] lg:landscape:-mt-[50px] xl:landscape:-mt-[100px] -rotate-6 transition duration-500 hover:-translate-y-1.5"
    />
    <Picture
      loading="lazy"
      src={orbnetEvents}
      widths={[800, 420]}
      sizes="(max-width: 1024px) 420px, 800px"
      alt="orbnet dashboard"
      formats={['avif', 'webp']}
      class="rounded-2xl shadow-lg absolute z-10 right-0 w-[200px] md:w-[400px] lg:w-[600px} xl:w-[800px] -mt-[20px] md:-mt-[90px] md:portrait:-mt-[80px] md:landscape:-mt-[20px] lg:landscape:-mt-[50px] xl:landscape:-mt-[100px] rotate-6 transition duration-500 hover:-translate-y-1.5"
    />
  </div>
</section>
