---
import { Picture } from 'astro:assets';

interface Props {
  src?: any;
}

const { src } = Astro.props;
---
<div class="container py-0 md:py-12 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
    <div class="w-full h-[330px] md:h-[500px] order-1 lg:order-2">
      {src &&
        <Picture src={src}
                 widths={[500, 330]}
                 width="500"
                 height="500"
                 alt="orbnet"
                 pictureAttributes={{ class: 'object-contain' }}
                 class="mx-auto"
        />
      }
    </div>
    <div class="w-full order-2 lg:order-1 text-dark dark:text-white">
      <slot name="text" />
    </div>
  </div>
</div>
