---
import SmartImage from './SmartImage.astro';

interface Props {
  src?: any;
}

const { src } = Astro.props;
---
<div class="container py-0 md:py-12 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
    {src &&
      <SmartImage src={src}
                  alt="orbnet"
                  widths={[500, 330]}
                  sizes="(max-width: 1024px) 330px, 500px"
                  pictureAttributes={{ class: 'w-full flex h-[330px] lg:h-[500px] order-1 lg:order-2' }}
                  class="object-contain mx-auto"
      />
    }
    <div class="w-full order-2 lg:order-1 text-dark dark:text-white">
      <slot name="text" />
    </div>
  </div>
</div>
